<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sandwich Master</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="icon" th:href="@{/images/sandwich.png}" type="image/x-icon"/>
    <link rel="bookmark" th:href="@{/images/sandwich.png}" type="image/x-icon"/>
    <link href="https://fonts.cdnfonts.com/css/public-pixel" rel="stylesheet">
                
</head>
<body>    
    <div class="home-container">
        <div class="master">
        </div>
        <div class="spliter">
            <div class="sandwich-holder">
                <div class="sandwich-title"><p>MAKE YOUR OWN SANDWICH!</p></div>
                <div class="sandwich-png"></div>
            </div>
        </div>
        <div class="button-holder">
            <a th:href="@{/design}">
                <input type="button" value="" class="design-button">
                <div class="design-text">DESIGN!</div>
            </a>
        </div>
        <div class="conveyor-1 conveyor">
            <div class="conv-anim-1">
                <div class="pans"></div>
                <div class="loaf-pans"></div>
                <div class="pans"></div>
                <div class="loaf-pans"></div>
                <div class="pans"></div>
                <div class="loaf-pans"></div>
                <div class="pans"></div>
                <div class="loaf-pans"></div>
                <div class="pans"></div>
                <div class="loaf-pans"></div>
                <div class="pans"></div>
                <div class="loaf-pans"></div>
                <div class="pans"></div>
                <div class="loaf-pans"></div>
                <div class="pans"></div>
                <div class="loaf-pans"></div>
                <div class="pans"></div>
                <div class="loaf-pans"></div>
                <div class="pans"></div>
                <div class="loaf-pans"></div>

<!-- 
                <div class="pans"></div>
                <div class="triangle-pans"></div>
                <div class="loaf-pans"></div> -->
            
            </div>
        </div>
        <div class="conveyor-2 conveyor">
            <div class="conv-anim-inv-1">
                <div class="cheese"></div>
                <div class="beacon"></div>
                <div class="peperoni"></div>
                <div class="cheese"></div>
                <div class="beacon"></div>
                <div class="peperoni"></div>
                <div class="cheese"></div>
                <div class="beacon"></div>
                <div class="peperoni"></div>
                <div class="cheese"></div>
                <div class="beacon"></div>
                <div class="peperoni"></div>
                <div class="cheese"></div>
                <div class="beacon"></div>
                <div class="peperoni"></div>
                <div class="cheese"></div>
                <div class="beacon"></div>
                <div class="peperoni"></div>
                <div class="cheese"></div>
                <div class="beacon"></div>
                <div class="peperoni"></div>
                <div class="cheese"></div>
                <div class="beacon"></div>
                <div class="peperoni"></div>
                <div class="cheese"></div>
                <div class="beacon"></div>
                <div class="peperoni"></div>
                <div class="cheese"></div>
                <div class="beacon"></div>
                <div class="peperoni"></div>
            </div>
        </div>
        <div class="conveyor-3 conveyor">
            <div class="conv-anim-2">
                <div class="pickle"></div>
                <div class="tomatoes"></div>
                <div class="peper"></div>
                <div class="pickle"></div>
                <div class="tomatoes"></div>
                <div class="peper"></div>
                <div class="pickle"></div>
                <div class="tomatoes"></div>
                <div class="peper"></div>
                <div class="pickle"></div>
                <div class="tomatoes"></div>
                <div class="peper"></div>
                <div class="pickle"></div>
                <div class="tomatoes"></div>
                <div class="peper"></div>
                <div class="pickle"></div>
                <div class="tomatoes"></div>
                <div class="peper"></div>
                <div class="pickle"></div>
                <div class="tomatoes"></div>
                <div class="peper"></div>
                <div class="pickle"></div>
                <div class="tomatoes"></div>
                <div class="peper"></div>
                <div class="pickle"></div>
                <div class="tomatoes"></div>
                <div class="peper"></div>
                <div class="pickle"></div>
                <div class="tomatoes"></div>
                <div class="peper"></div>
                <div class="pickle"></div>
                <div class="tomatoes"></div>
                <div class="peper"></div>
                <div class="pickle"></div>
                <div class="tomatoes"></div>
                <div class="peper"></div>
                <div class="pickle"></div>
                <div class="tomatoes"></div>
                <div class="peper"></div>
            </div>
        </div>
        <div class="conveyor-4 conveyor">
            <div class="conv-anim-inv-2">
                <div class="pansInv"></div>
                <div class="invLoaf-pans"></div>
                <div class="pansInv"></div>
                <div class="invLoaf-pans"></div>
                <div class="pansInv"></div>
                <div class="invLoaf-pans"></div>
                <div class="pansInv"></div>
                <div class="invLoaf-pans"></div>
                <div class="pansInv"></div>
                <div class="invLoaf-pans"></div>
                <div class="pansInv"></div>
                <div class="invLoaf-pans"></div>
                <div class="pansInv"></div>
                <div class="invLoaf-pans"></div>
                <div class="pansInv"></div>
                <div class="invLoaf-pans"></div>
                <div class="pansInv"></div>
                <div class="invLoaf-pans"></div>
                <div class="pansInv"></div>
                <div class="invLoaf-pans"></div>
            </div>
        </div>

    </div>
</body>
</html>