<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sandwich Master</title>
    <link rel="stylesheet" th:href="@{/css/order.css}">
    <link rel="icon" th:href="@{/images/sandwich.png}" type="image/x-icon"/>
    <link rel="bookmark" th:href="@{/images/sandwich.png}" type="image/x-icon"/>
    <link href="https://fonts.cdnfonts.com/css/public-pixel" rel="stylesheet">
</head>
<body>
      <div class="all-container">
            <div class="ingredient-holder"></div>
            <!--/*@thymesVar id="sandwichOrder" type="package ru.pract.sandwichcloud.entity.SandwichOrder"*/-->
            <form method="POST" th:action="@{/orders/process}" th:object="${sandwichOrder}" class="order-form">
                  <h1 class="order-title">Order your sandwich creations!</h1>

                  <a th:href="@{/design}" id="another" class="colored">Design another sandwich</a>

                  <div class="order-list">
                        <h3 class="order-list-text colored">Your sandwiches in this order:</h3>
                        <ul>
                              <li th:each="sandwich : ${sandwichOrder.sandwiches}" class="colored">
                              <span th:text="${sandwich.sandwichName}">sandwich name</span>
                              </li>
                        </ul>
                  </div>

                  <div class="delivery-form">
                        <h3 class="deliver-text colored">Deliver my sandwiches masterpieces to...</h3>
                        <div class="delivery-element">
                              <label for="delivery_name" class="colored">Name:</label>
                              <input type="text" th:field="*{delivery_name}" class="delivery-input">
                              <span class="validationError"
                                    th:if="${#fields.hasErrors('delivery_name')}"
                                    th:errors="*{delivery_name}">Name Error</span>
                        </div>

                        <div class="delivery-element">
                              <label for="delivery_city" class="colored">City: </label>
                              <input type="text" th:field="*{delivery_city}" class="delivery-input"/>
                              <span class="validationError"
                                    th:if="${#fields.hasErrors('delivery_city')}"
                                    th:errors="*{delivery_city}">City Error</span>
                        </div>

                        <div class="delivery-element">
                              <label for="delivery_state" class="colored">State: </label>
                              <input type="text" th:field="*{delivery_state}" class="delivery-input"/>
                              <span class="validationError"
                                    th:if="${#fields.hasErrors('delivery_state')}"
                                    th:errors="*{delivery_state}">State Error</span>
                        </div>

                        <div class="delivery-element">
                              <label for="delivery_zip" class="colored">Zip code: </label>
                              <input type="text" th:field="*{delivery_zip}" class="delivery-input"/>
                              <span class="validationError"
                                    th:if="${#fields.hasErrors('delivery_zip')}"
                                    th:errors="*{delivery_zip}">Zip Error</span>
                        </div>
                        <div class="street-holder">
                              <label for="delivery_street" class="colored">Street address: </label>
                              <input type="text" th:field="*{delivery_street}" class="delivery-input"/>
                              <span class="validationError"
                                    th:if="${#fields.hasErrors('delivery_street')}"
                                    th:errors="*{delivery_street}">Street Error</span>
                        </div>
                  </div>

                  <div class="pay-form">
                        <h3 class="pay-form-text colored">Here’s how I’ll pay...</h3>
                        <div class="delivery-element">
                              <label for="cc_number" class="colored">Credit Card #: </label>
                              <input type="text" th:field="*{cc_number}" class="delivery-input"/>
                              <span class="validationError" 
                                    th:if="${#fields.hasErrors('cc_number')}" 
                                    th:errors="*{cc_number}">CC Num Error</span>
                        </div>
                        <div class="delivery-element">
                              <label for="cc_expiration" class="colored">Expiration: </label>
                              <input type="text" th:field="*{cc_expiration}" class="delivery-input"/>
                              <span class="validationError"
                                    th:if="${#fields.hasErrors('cc_expiration')}"
                                    th:errors="*{cc_expiration}">CC Num Error</span>
                        </div>
                        <div class="delivery-element">
                              <label for="cc_cvv" class="colored">CVV: </label>
                              <input type="text" th:field="*{cc_cvv}" class="delivery-input"/>
                              <span class="validationError"
                                    th:if="${#fields.hasErrors('cc_cvv')}"
                                    th:errors="*{cc_cvv}">CC Num Error</span>
                        </div>            
                  </div>
                  
                  <input type="submit" value="Submit Order" class="order-submit">
            </form>
            <div class="ingredient-holder"></div>
            <div class="ingredient-holder"></div>
            <div class="ingredient-holder"></div>
      </div>
	<script type="text/javascript" th:src="@{/js/order.js}"></script>
</body>
</html>